In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [2]:
DATA_FOLDER = '../DATA'
files = os.listdir(DATA_FOLDER)
sds_files = [i for i in files if 'sds011' in i]
bme_files = [i for i in files if 'bme280' in i]
dht_files = [i for i in files if 'dht22' in i]

In [3]:
data = pd.read_csv(os.path.join(
    DATA_FOLDER, '19836_sds011_sensor_.csv'), delimiter=';', parse_dates=['timestamp'], index_col=5)

In [4]:
sensors_data =[]

In [5]:
idx = pd.date_range('2019-04-01', '2019-11-04', freq='5T')

In [6]:
sds_data = pd.DataFrame(idx, columns=['date'])
sds_data = sds_data.set_index('date')

In [7]:
for f in sds_files:
    data = pd.read_csv(os.path.join(
        DATA_FOLDER, f), delimiter=';', parse_dates=['timestamp'], index_col=5)
    s_id = data.iloc[0].sensor_id
    s_type = data.iloc[0].sensor_type
    lat = data.iloc[0].lat
    lon = data.iloc[0].lon
    sensors_data.append([s_id, s_type, lat, lon])
    data['P1'] = data.P1.replace('unavailable', None)
    data['P2'] = data.P2.replace('unavailable', None)
    data['P1'] = data.P1.astype(float)
    data['P2'] = data.P2.astype(float)
    new_data = data['2019-04':].resample('5T').mean()
    new_data.reindex(idx, fill_value=None)
    sds_data['P1_'+str(s_id)] = new_data.P1
    sds_data['P2_'+str(s_id)] = new_data.P2

//home/anatoly/HDD/anaconda3/envs/mlforair/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
sensors = pd.DataFrame(sensors_data, columns=['sensor_id', 'sensor_type', 'lat', 'lon'])

In [9]:
sensors.head()

   sensor_id sensor_type       lat        lon
0      27418      SDS011  55.69796  37.535890
1      27213      SDS011  55.81400  37.460000
2      32407      SDS011  55.97000  37.502000
3      24028      SDS011  55.68600  37.588000
4      30920      SDS011  55.89740  37.482696

In [10]:
sds_data.head()

,P1_27418,P2_27418,P1_27213,P2_27213,P1_32407,P2_32407,P1_24028,P2_24028,P1_30920,P2_30920,...,P1_30731,P2_30731,P1_24687,P2_24687,P1_30289,P2_30289,P1_32439,P2_32439,P1_31862,P2_31862
date,,,,,,,,,,,,,,,,,,,,,
2019-04-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sds_data.iloc[0].values

array([  nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan, 4.375, 2.225,
         nan,   nan,   nan,   nan,   nan,   nan, 4.915, 3.55 ,   nan,
         nan, 5.315, 3.285, 3.745, 2.525,   nan,   nan, 5.32 , 3.17 ,
       6.19 , 2.94 ,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan, 6.55 , 2.975, 6.535, 3.95 ,   nan,   nan,   nan,   nan,
       5.915, 2.65 , 7.33 , 4.635,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan, 6.47 , 4.115, 5.35 , 2.265,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan, 4.61 , 2.735,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,
         nan,   nan,   nan,   nan,   nan,   nan,   nan])