In [15]:
import pandas as pd
from datetime import timezone
import matplotlib.pyplot as plt
import requests
import json

In [2]:
sensors = pd.read_csv('../DATA/processed/sensors.csv', index_col=0)

In [3]:
sensors.sensor_type.value_counts()

SDS011    246
BME280    171
Name: sensor_type, dtype: int64

In [4]:
sensors.head()

   sensor_id sensor_type        lat        lon
0      27418      SDS011  55.697960  37.535890
1      21332      SDS011  55.698000  37.498000
2      42870      SDS011  55.887121  37.265067
3      34535      SDS011  55.596000  37.538000
4      43811      SDS011  55.703017  37.459441

In [5]:
sds_sensors = sensors[sensors.sensor_type=='SDS011']
bme_sensors = sensors[sensors.sensor_type=='BME280']

In [6]:
sensors = (sds_sensors.assign(dummy=1)
    .merge(bme_sensors.assign(dummy=1),on='dummy')
    .query('lat_x==lat_y and lon_x==lon_y')
    .drop('dummy', axis=1))[['sensor_id_x', 'sensor_id_y', 'lat_x', 'lon_x']]
sensors = sensors.rename(columns={'sensor_id_x': 'sds_sensor',
                                  'sensor_id_y': 'bme_sensor',
                                  'lat_x': 'lat',
                                  'lon_x': 'lon'})
sensors

       sds_sensor  bme_sensor        lat        lon
833         43811       43812  55.703017  37.459441
947         46280       46281  55.677867  37.456325
1120        33626       33627  55.874089  37.510001
1304        45568       45569  55.625773  37.525268
1508        27213       27214  55.814000  37.460000
...           ...         ...        ...        ...
41025       42920       42921  55.850951  37.348591
41050       41097       41098  55.563750  37.644380
41271       48427       48428  55.595953  37.598865
41416       35514       35515  55.650000  37.490000
41813       51384       51385  55.682000  37.462000

[168 rows x 4 columns]

In [7]:
press_meteo = pd.read_csv('../DATA/processed/dataset.csv', parse_dates=['date']).set_index('date').pres_meteo

In [8]:
press_meteo

date
2019-04-01 00:00:00+00:00     99271.5612
2019-04-01 00:05:00+00:00     99471.5442
2019-04-01 00:10:00+00:00     99471.5442
2019-04-01 00:15:00+00:00     99471.5442
2019-04-01 00:20:00+00:00     99471.5442
                                ...
2021-01-03 17:40:00+00:00    101324.7200
2021-01-03 17:45:00+00:00    101324.7200
2021-01-03 17:50:00+00:00    101324.7200
2021-01-03 17:55:00+00:00    101324.7200
2021-01-03 18:00:00+00:00    101324.7200
Name: pres_meteo, Length: 185401, dtype: float64

https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%80%D0%BE%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%81%D1%82%D1%83%D0%BF%D0%B5%D0%BD%D1%8C

In [9]:
def get_sealevel(bme_id):
    # see details 
    file_name = f'{bme_id}_bme280_sensor_.csv'
    bme_data = pd.read_csv('../DATA/raw/sensors/'+file_name, sep=';', parse_dates=['timestamp'])
    bme_data = bme_data.set_index('timestamp').resample('5T').mean()
    bme_data = bme_data.tz_localize(timezone.utc)
    bme_data['press_diff'] = (bme_data['pressure'] - press_meteo) / 1000
    bme_data['Q'] = 8000/(bme_data.pressure/1000) * (1 + 0.00366*bme_data.temperature)
    bme_data['delta_h'] = - bme_data.Q * bme_data.press_diff
    delta_h = bme_data.delta_h.median()
    h = delta_h + 125 # высота метеостанции над уровнем моря
    return h

In [11]:
sealevels = []
for index, row in sensors.iterrows():
    sealevels.append(get_sealevel(int(row['bme_sensor'])))

[198.44101235495413, 179.95334714151517, 168.125265823983, 263.5806029972, 157.7982775441712, 132.15232774736884, 155.21682591188318, 141.72816514065343, 193.68767526449574, 207.780272906518, 192.20963918461854, 158.70088863474416, 143.38027154604163, 204.7668662336162, 129.06069694991677, 215.13521878573144, 171.9126303863845, 190.70157118511435, 149.27612392744885, 240.99217253818222, 184.05120487634275, 131.59623441553234, 212.16472267174706, 182.4335847300856, 190.8739173208605, 229.29046520374587, 174.53817773335396, 185.18700615210543, 183.75989543112934, 178.85453034540595, 147.49586405929367, 138.7231614759093, 184.06162668111293, 153.34601995200603, 202.64578254774793, 182.02333258831345, 185.42887257107816, 186.52936307235728, 183.9956479398247, 221.69435931320675, 180.30923013601367, 139.9804191053286, 226.32939870450858, 195.13638062557084, 199.17104352690308, 211.86873506805938, 189.80798470979255, 263.3172643572521, 177.60457306008362, 176.47610164373233, 128.37341358700442, 174.04910937849831, 166.88834862417897, 151.77495991955897, 177.83858160746956, 169.61075006130872, 193.8873033040978, 147.49586405929367, 185.64766123917576, 185.0017924574675, 156.6838129124232, 253.26831737894764, 242.49563971864768, 157.01668923611436, 192.93576101646633, 146.32449840725388, 168.34969302999554, 196.30790550230964, 249.4871583647978, 159.15629669967592, 204.88561679874056, 216.69221884089103, 219.05506737693304, 210.8839881331255, 182.96537792319373, 280.3214112099814, 85.79070785600601, 136.4552349430927, 164.75259449015658, 238.22091197569395, 216.41464401729206, 178.41008895512348, 140.7188083556601, 176.0267212517606, 220.8840126382799, 177.6743359041172, 128.73355322727588, 128.7851387166475, 138.41515101561208, 183.366381557743, 178.14380284778903, 156.37870235464422, 171.7596946794155, 163.79347936558634, 136.68253574604958, 157.48004999048163, 175.58126328685017, 154.33327890299444, 200.80958193348522, 205.96973135715746, 168.8998923108101, 162.76362011907958, 199.6694572264313, 179.36599288192235, 193.48854484133363, 175.6583561964652, 176.2204439136484, 186.3714371074035, 189.01273535690228, 153.64823484140237, 131.82617437757625, 253.26831737894764, 242.49563971864768, 191.06160071733837, 207.24961605840542, 223.9807762942243, 216.1332387025888, 221.68015186746388, 151.18337262277188, 181.5139503651436, 206.2229302974941, 186.3714371074035, 189.01273535690228, 213.95707779956413, 153.3614610877391, 150.49920528538468, 257.86288188609916, 173.07587027314008, 135.94216638473142, 176.7881901240395, 234.68424788677981, 244.1856823217525, 195.0531877895396, 193.82652453011787, 141.50551060967462, 220.8411217555631, 196.36791718271695, 160.60273747047574, 189.0951335047755, 150.2850029558266, 219.99776054583447, 153.89293154080357, 151.1443344310555, 221.99029730729484, 141.04976634492417, 155.26601417834343, 156.66169739245447, 193.19176318271948, 185.6693705388056, 163.39857194847065, 156.5523181088938, 206.41757050725403, 212.90505081643263, 174.84592395702703, 241.84606851009315, 178.50165999962078, 112.90965740633541, 250.08513796326292, 171.94486054331423, 177.56747238366495, 183.085879563891, 127.28519761450033, 175.46176135679036, 193.78826728587285, 170.00625316404665, 195.13989010917925, 222.87152191803716, 242.72274541229547]

In [12]:
sensors['sealevel'] = sealevels

In [43]:
import time

surface_levels = []
for index, row in sensors.iterrows():
    lat, lon = row.lat, row.lon
    resp = requests.get(f'https://api.opentopodata.org/v1/srtm30m?locations={lat},{lon}')
    data = json.loads(resp.text)
    surface_levels.append(data['results'][0]['elevation'])
    time.sleep(1)

In [44]:
sensors['surface_alt'] = surface_levels

In [46]:
sensors['surface_level'] = sensors.sealevel - sensors.surface_alt

In [47]:
sensors

,sds_sensor,bme_sensor,lat,lon,sealevel,surface_alt,surface_level
833,43811,43812,55.703017,37.459441,198.441012,163.0,35.441012
947,46280,46281,55.677867,37.456325,179.953347,176.0,3.953347
1120,33626,33627,55.874089,37.510001,168.125266,176.0,-7.874734
1304,45568,45569,55.625773,37.525268,263.580603,230.0,33.580603
1508,27213,27214,55.814000,37.460000,157.798278,152.0,5.798278
...,...,...,...,...,...,...,...
41025,42920,42921,55.850951,37.348591,193.788267,176.0,17.788267
41050,41097,41098,55.563750,37.644380,170.006253,175.0,-4.993747
41271,48427,48428,55.595953,37.598865,195.139890,172.0,23.139890
41416,35514,35515,55.650000,37.490000,222.871522,200.0,22.871522
41813,51384,51385,55.682000,37.462000,242.722745,155.0,87.722745

In [48]:
sensors.to_csv('sensors.csv', index=False)